{% extends "layouts/base_withoutside.html" %}

{% block title %} {{reg_log}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

            {% for name in image_names %}
                <img src="{{ name }}" >
            {% endfor %}

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}